
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<script type="text/javascript">
        $(document).ready(function(){

            var message = "@ViewBag.success";
            console.log(message);
            if (message == "InValid User") {
                alert("User is Invalid.");
            }
        });
</script>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form action="~/Pages/ChangePassword" method="POST">
                        <h1>Change Password</h1>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="email" name="email" placeholder="Enter your mail" class="form-control" type="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                <input id="newPass" name="newPass" placeholder="Password" class="form-control" type="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                <input id="CnfrmPass" name="CnfrmPass" placeholder="Confirm Password" class="form-control" type="password" required>
                            </div>
                        </div>
                        <a href='@Url.Content("~/Pages/ForgetPass")' style="color:white">Back</a>

                        <input type="submit" value="Change Password" name="btnSubmit" />


                    </form>

                </div>
            </div>
        </div>
    </div>
    
    
